.quizz_container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.fundo_container {
    width: 100%;
    height: 100%;
    margin-top: -20px;
    position: absolute;
    z-index: -1;
    justify-content: center;
    align-content: center;
    display: flex;
}

.fundo_img {
    width: 95%;
    height: 95%;
    object-fit: fill;
}

.quizz_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.quizz_logo > img{
    width: 50%;
}

.quizz_logo > h3 {
    margin-top: 20px;
}

.quizz_results {
    width: 100%;
    height: 350px;
    background-color: #1f053991;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.quizz_results > p {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-select {
    background-color:rgba(137, 43, 226, 0.212);
    border-radius: 8px;
    border: 1px solid #18ab29;
    width: 60%;
    display:inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 31px;
    text-decoration: none;
    text-shadow: 0px 2px 0px #2f6627; 
    margin-top: 5px;
}

.btn-select:hover {
    background-color: #5cbf2a;
}

.btn-select:active {
    position: relative;
    top: 2px;
    left: 2px;
}