<div class="fundo_container">
    <img *ngIf="!selectTema" class = "fundo_img" src="assets/imgs/{{quizzImage}}" alt="">
</div>
<app-banner-left></app-banner-left>
<app-banner-right></app-banner-right>
<div class="quizz_container">
    <div class="quizz_logo">
        <img src="assets/imgs/Logo2.png" alt="">
        <h3 *ngIf="!selectTema">{{tema}}</h3>
    </div>
    <app-optionquizz
            *ngIf="!finished && !selectTema"
            [questionSel]="questionSelect"
            (playerCh)="playerChooce($event)"
    ></app-optionquizz>
    <div *ngIf="finished" class="quizz_results">
        <h1>O seu resultado é:</h1>
        <p>{{answersSelect |uppercase}}</p>
        <button class="btn-select"(click)="resetQuiz()">Fazer Outro Quiz</button>
    </div>
</div>

<app-selecttema
         *ngIf="selectTema"
         [AllQuizz]="allQuizzes"
         (themeSelected)="selectQuiz($event)"
></app-selecttema>